@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poor+Story&display=swap');

* {
    font-family: 'Poor Story', cursive;
}

table,
td,
th {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 0px;
    border-bottom: 2px solid rgb(255, 222, 210);
    margin: 5px;
}

textarea, textarea:focus {
	border-radius: 7px;
	width: 100%;
	outline-color: rgb(255, 222, 210);
}

.subBtn1 {
	font-weight: bold;
	font-size: medium;
    background-color: white;
    border: 3px solid slategray;
    padding: 5px 10px;
    border-radius: 7px;
}

.subBtn1:hover {
    background-color: rgb(136, 54, 11);
    color: rgb(255, 222, 210);
    cursor: pointer;
}

.font10 {
    font-size: 13px;
}

.content{
	margin-top: 3px;	
}

.replyList, .replyForm {
	border: 0px;	
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

.replyContent{
	border-bottom: 1px solid black;
}

.replyList table, .replyForm table{
	width: 80%;
}

.replyForm textarea{
	width: 100%;
	border-radius: 7px;
	outline-color: rgb(255, 236, 223);
	
}

.rewriterSpan {
	font-weight: bold;
    margin-right: 10px;
}