@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poor+Story&display=swap');

* {
    font-family: 'Poor Story', cursive;
}

table,
td,
th {
    /* border: 1px solid black; */
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

input {
    border: 0px;
    border-bottom: 2px solid  rgb(255, 236, 223);
    margin: 5px;
}

input:focus {
	border: none;
	outline-color: rgb(255, 216, 206);
}

textarea {
	border-radius: 7px;
	width: 100%;
	outline-color:  rgb(255, 236, 223);
}

textarea:focus{
	border-radius: 7px;
	width: 100%;
}


.subBtn1 {
	font-weight: bold;
	font-size: medium;
    background-color: white;
    border: 3px solid slategray;
    padding: 5px 10px;
    border-radius: 7px;
}

.subBtn1:hover {
    background-color: rgb(136, 54, 11);
    color:  rgb(255, 236, 223);
    cursor: pointer;
}

.font10 {
    font-size: 13px;
}
